<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xiao.rxjava2test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.ObserverTypeActivity" />
        <activity android:name=".ui.observer.SimpleActivity" />
        <activity android:name=".ui.observer.SingleObserverExActivity" />
        <activity android:name=".ui.observer.CompletableObserverExActivity" />
        <activity android:name=".ui.observer.FlowableExActivity" />
        <activity android:name=".ui.observer.MaybeObserverExActivity" />

        <activity android:name=".ui.OperatorsActivity" />
        <activity android:name=".ui.operators.MapExActivity" />
        <activity android:name=".ui.operators.ZipExActivity" />
        <activity android:name=".ui.operators.DisposableExActivity" />
        <activity android:name=".ui.operators.TakeExActivity" />
        <activity android:name=".ui.operators.TimerExActivity" />
        <activity android:name=".ui.operators.IntervalExActivity" />
        <activity android:name=".ui.operators.ReduceExActivity" />
        <activity android:name=".ui.operators.BufferExActivity" />
        <activity android:name=".ui.operators.FilterExActivity" />
        <activity android:name=".ui.operators.SkipExActivity" />
        <activity android:name=".ui.operators.ScanExActivity" />
        <activity android:name=".ui.operators.ReplayExActivity" />
        <activity android:name=".ui.operators.ConcatExActivity" />
        <activity android:name=".ui.operators.MergeExActivity" />
        <activity android:name=".ui.operators.DeferExActivity" />
        <activity android:name=".ui.operators.DistinctExActivity" />
        <activity android:name=".ui.operators.LastOperatorExActivity" />

    </application>

</manifest>